.commandes {
  height: 0; }
  .commandes img {
    position: fixed;
    bottom: 0; }
  .commandes .bottom img {
    object-fit: cover;
    width: 100%;
    height: 147px;
    z-index: 20;
    cursor: pointer; }
  .commandes .bottom .bottom-area {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 22;
    cursor: pointer; }
  .commandes .launch img,
  .commandes .minimap-btn img {
    z-index: 20;
    position: fixed;
    display: block;
    top: 0;
    top: 15%;
    right: -340px;
    width: 270px;
    transition: all .2s ease-in-out; }
    .commandes .launch img:hover,
    .commandes .minimap-btn img:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .commandes .minimap-btn img {
    right: -40px; }
  .commandes .planet_desc {
    pointer-events: none; }
    .commandes .planet_desc img {
      z-index: 20;
      top: -420px;
      width: 100%;
      height: 50%; }
    .commandes .planet_desc .description-container {
      top: -250px;
      position: fixed;
      width: 100%;
      z-index: 20; }
      .commandes .planet_desc .description-container .description-sub-container {
        position: relative;
        max-width: 60%;
        margin: auto; }
        .commandes .planet_desc .description-container .description-sub-container span {
          z-index: 20;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: bold;
          font-size: 18px;
          width: 100%;
          text-align: left; }
        .commandes .planet_desc .description-container .description-sub-container .title {
          font-weight: bold;
          color: white; }
        .commandes .planet_desc .description-container .description-sub-container .tags {
          color: #4ed59a; }
        .commandes .planet_desc .description-container .description-sub-container .description {
          font-size: 18px;
          color: white; }
  .commandes .mobile i {
    display: none; }
  .commandes .mobile .mobile_tab {
    z-index: 21;
    display: none; }
  .commandes .left img {
    z-index: 21; }
  .commandes .left .btn img {
    transition: all .2s ease-in-out; }
  .commandes .left .btn .commande img {
    bottom: -190px;
    right: 55%; }
  .commandes .left .btn .text img {
    bottom: 20px;
    width: auto;
    right: calc(60% - -90px); }
  .commandes .left .tab img {
    left: -40%;
    width: 45%;
    height: 100%; }
  .commandes .left .tab .text {
    position: fixed;
    z-index: 22;
    left: -36%;
    top: 50px;
    bottom: 50px;
    max-width: 33%;
    overflow: auto;
    scrollbar-width: thin;
    direction: rtl;
    padding-left: 10px; }
    .commandes .left .tab .text.text-mobile {
      text-align: left;
      left: 0;
      right: 0;
      padding: 5%;
      max-width: unset; }
    .commandes .left .tab .text .category {
      font-size: 25px;
      font-weight: Bold;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block; }
    .commandes .left .tab .text .experience {
      margin-bottom: 10px; }
      .commandes .left .tab .text .experience .title {
        font-size: 17px;
        font-weight: Bold; }
      .commandes .left .tab .text .experience .content {
        font-size: 17px; }
  .commandes .right img {
    z-index: 21; }
  .commandes .right .btn img {
    transition: all .2s ease-in-out; }
  .commandes .right .btn .commande img {
    bottom: -190px;
    left: 55%; }
  .commandes .right .btn .text img {
    bottom: 20px;
    width: auto;
    left: calc(60% - -90px); }
  .commandes .right .tab img {
    right: -40%;
    width: 45%;
    height: 100%; }
  .commandes .right .tab .text {
    position: fixed;
    z-index: 22;
    right: -36%;
    top: 50px;
    bottom: 50px;
    max-width: 33%;
    overflow: auto;
    scrollbar-width: thin;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .commandes .right .tab .text.text-mobile {
      text-align: center;
      left: 0;
      right: 0 !important;
      padding: 5%;
      max-width: unset; }
    .commandes .right .tab .text .form-title {
      font-size: 25px;
      font-weight: Bold;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block; }
    .commandes .right .tab .text .experience {
      margin-bottom: 10px; }
      .commandes .right .tab .text .experience .title {
        font-size: 17px;
        font-weight: Bold; }
      .commandes .right .tab .text .experience .content {
        font-size: 17px; }
    .commandes .right .tab .text .form {
      margin-bottom: 100px; }
      .commandes .right .tab .text .form form {
        color: "#DBDBDB"; }
        .commandes .right .tab .text .form form .inp-contact {
          height: 50px;
          border-radius: 9px;
          margin-bottom: 15px; }
        .commandes .right .tab .text .form form .textarea-contact {
          margin-bottom: 15px; }
        .commandes .right .tab .text .form form .btn-contact-container {
          display: flex;
          justify-content: end; }
        .commandes .right .tab .text .form form .btn-contact {
          color: #84B0BF;
          border-radius: 9px;
          background-color: white;
          width: 155px;
          height: 50px;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: bold; }
    .commandes .right .tab .text .description .content {
      font-size: 18px;
      margin-bottom: 20px; }
    .commandes .right .tab .text .description .coordinates {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 25px; }

.minimap .minimap-exit-btn img {
  left: -40px;
  bottom: 5%;
  width: 160px;
  height: unset;
  margin-bottom: 50px;
  transition: all .2s ease-in-out; }
  .minimap .minimap-exit-btn img:hover {
    cursor: pointer;
    transform: scale(1.1); }
