.fade-layer {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 11;
  position: fixed;
  pointer-events: none;
  top: 0; }

.project {
  position: static;
  width: 100%;
  height: 100vh; }
  .project .presentation.video {
    display: block; }
    .project .presentation.video .videos-container {
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 110px;
      margin-bottom: 140px; }
    .project .presentation.video .video-container {
      position: relative;
      padding-bottom: 56.25%;
      /* ratio 16/9 */
      height: 0;
      overflow: hidden;
      clear: both; }
    .project .presentation.video .video-container iframe,
    .project .presentation.video .video-container object,
    .project .presentation.video .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .project .presentation {
    max-width: 1330px;
    display: table;
    margin: auto;
    position: relative;
    min-width: 768px;
    z-index: 10;
    bottom: -1500px; }
    .project .presentation img {
      width: 100%;
      margin-bottom: 140px; }
    .project .presentation img.desktop {
      margin-top: 110px;
      padding-left: 50px;
      padding-right: 50px; }
    .project .presentation img.mobile {
      display: none;
      margin-top: 50px;
      padding-left: 20px;
      padding-right: 20px; }
  @media screen and (max-width: 768px) {
    .project .presentation {
      max-width: 480px;
      min-width: 100px; }
      .project .presentation img.desktop {
        display: none; }
      .project .presentation img.mobile {
        display: block; }
    .project .presentation.video .videos-container {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 50px; } }

.background {
  position: fixed;
  width: 100%;
  height: 100vh; }
  .background.background-main {
    z-index: 1; }
    .background.background-main img {
      left: -1px;
      bottom: -100px; }
  .background.background-3 {
    z-index: 2; }
    .background.background-3 img {
      bottom: -300px; }
  .background.background-2 {
    z-index: 3; }
    .background.background-2 img {
      bottom: -600px; }
  .background.background-1 {
    z-index: 4; }
    .background.background-1 img {
      bottom: -1000px; }
  .background img {
    position: fixed;
    bottom: 0; }
    .background img.centered {
      width: 100%; }
