@media screen and (max-width: 768px) {
  .commandes .bottom img {
    height: 90px; }
  .commandes .bottom .bottom-area {
    display: block; }
  .commandes .launch img {
    width: 130px;
    right: -325px;
    top: 10%; }
  .commandes .minimap-btn img {
    width: 130px;
    top: 10%;
    right: -20px; }
  .commandes .planet_desc .description-container .description-sub-container .title {
    display: none; }
  .commandes .planet_desc .description-container .description-sub-container .description {
    display: none; }
  .commandes .left .btn .commande img {
    width: 540px;
    bottom: -113px;
    right: 50%; }
  .commandes .left .btn .text img {
    height: 22px;
    right: calc(60% - -45px); }
  .commandes .left .tab .text .category {
    font-size: 23px; }
  .commandes .left .tab .text .experience .title {
    font-size: 15px; }
  .commandes .left .tab .text .experience .content {
    font-size: 15px; }
  .commandes .right .btn .commande img {
    width: 540px;
    bottom: -113px;
    left: 50%; }
  .commandes .right .btn .text img {
    height: 22px;
    left: calc(60% - -45px); }
  .commandes .right .tab .text .description .coordinates {
    font-size: 16px; }
  .commandes .tab img {
    display: none; }
  .commandes .mobile .mobile_tab {
    display: none; }
  .commandes .mobile i {
    position: fixed;
    right: 0;
    top: 0;
    margin: 5%;
    z-index: 22;
    cursor: pointer;
    display: none; }
  .minimap .minimap-exit-btn img {
    left: -30px;
    bottom: -20px;
    width: 100px; } }

@media screen and (min-width: 768px) and (max-width: 1450px) {
  .commandes .bottom img {
    height: 110px; }
  .commandes .launch img,
  .commandes .minimap-btn img {
    width: 230px; }
  .commandes .mobile .mobile_tab {
    display: none; }
  .commandes .mobile i {
    display: none !important; }
  .commandes .planet_desc .description-container .description-sub-container .title {
    font-size: 22px; }
  .commandes .planet_desc .description-container .description-sub-container .tags {
    font-size: 15px; }
  .commandes .planet_desc .description-container .description-sub-container .description {
    font-size: 15px; }
  .commandes .left .btn .commande img {
    bottom: -220px; }
  .commandes .left .btn .text img {
    height: 40px; }
  .commandes .left .tab .text .category {
    font-size: 23px; }
    .commandes .left .tab .text .category .experience .title {
      font-size: 15px; }
    .commandes .left .tab .text .category .experience .content {
      font-size: 15px; }
  .commandes .right .btn .commande img {
    bottom: -220px; }
  .commandes .right .btn .text img {
    height: 40px; } }
