@media screen and (max-width: 768px) {
  .sun_pin {
    display: none !important; }
  section {
    position: relative;
    overflow: unset; }
    section .planet .shadow {
      display: none; }
    section .planet.planet-intro {
      width: 900px;
      left: -300px;
      bottom: 15%; }
    section .planet.planet-1-1 {
      display: table;
      position: relative;
      max-width: 340px;
      top: 15%;
      left: unset; }
    section .planet.planet-2_1-1 {
      top: 0;
      max-width: 300px;
      left: -30%;
      bottom: unset; }
    section .planet.planet-2_1-2 {
      bottom: 10%;
      max-width: 250px; }
    section .planet.planet-2_2-1 {
      bottom: 12%;
      max-width: 250px;
      left: -44%; }
    section .planet.planet-2_2-2 {
      top: 0;
      max-width: 300px;
      right: -30%;
      bottom: unset; }
    section .planet.planet-3-1 {
      right: 51%;
      top: 0;
      width: 240px;
      left: 0;
      bottom: unset; }
    section .planet.planet-3-2 {
      right: -44%;
      margin: auto;
      bottom: 30%;
      width: 265px;
      left: 0; }
    section .planet.planet-3-3 {
      right: 0;
      bottom: 10%;
      width: 200px;
      left: -48%; }
    section .planet.blackhole {
      right: 0;
      top: 0;
      width: unset;
      left: 0;
      max-width: 320px; }
    section .planet.satellite {
      right: 0;
      bottom: 10%;
      width: 240px;
      left: 0; }
    section .space-element.asteroid {
      width: 200px; }
    section .space-element.asteroid-2 {
      width: 130px;
      bottom: 75%; } }

@media screen and (min-width: 768px) and (max-width: 1450px) {
  section {
    position: relative; }
    section .planet.planet-intro {
      bottom: 12%;
      width: 1150px;
      left: -370px; }
    section .planet.planet-1-1 {
      bottom: 11%;
      width: 560px; }
    section .planet.planet-2_1-1 {
      top: 0;
      max-width: 450px;
      left: -45%;
      bottom: unset; }
    section .planet.planet-2_1-2 {
      bottom: 10%;
      max-width: 400px;
      right: -45%; }
    section .planet.planet-2_2-1 {
      max-width: 460px; }
    section .planet.planet-2_2-2 {
      max-width: 330px; }
    section .planet.planet-3-1 {
      left: 0;
      top: 0;
      width: 270px;
      right: 70%;
      bottom: unset; }
    section .planet.planet-3-2 {
      right: -44%;
      margin: auto;
      bottom: 30%;
      width: 400px;
      left: 0; }
    section .planet.planet-3-3 {
      right: 0;
      bottom: 14%;
      width: 230px;
      left: -29%; }
    section .planet.blackhole {
      right: 47%;
      top: 5%;
      width: 450px;
      left: 0; }
    section .planet.satellite {
      right: -41%;
      bottom: 22%;
      width: 300px;
      left: 0; }
    section .space-element.asteroid {
      width: 350px; }
    section .space-element.asteroid-2 {
      width: 200px; }
    section .space-element.asteroid-3 {
      width: 180px; } }
