.test {
  background-color: red; }

.sun_pin {
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  right: -779px;
  left: 500px;
  margin-top: 936px;
  z-index: 5000;
  position: absolute;
  width: 120px;
  height: 120px; }

.minimap {
  display: none;
  z-index: 30;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  background: url("../img/map/fond-fondu.png") no-repeat fixed;
  background-size: cover; }
  .minimap img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed; }
  .minimap .map-planets {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .minimap .map-planets .map-planets-container {
      z-index: 31;
      align-items: center;
      margin: 5% 15%; }
      @media screen and (max-width: 768px) {
        .minimap .map-planets .map-planets-container {
          margin: 5% 5%; } }
      .minimap .map-planets .map-planets-container .row-right {
        justify-content: flex-end; }
        .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations {
          top: 220px; }
      .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations {
        top: -100px; }
      .minimap .map-planets .map-planets-container .row-left,
      .minimap .map-planets .map-planets-container .row-right {
        display: flex; }
        .minimap .map-planets .map-planets-container .row-left .planet-container,
        .minimap .map-planets .map-planets-container .row-right .planet-container {
          position: relative;
          width: 20%;
          margin: 0 1.25%; }
          @media screen and (max-width: 768px) {
            .minimap .map-planets .map-planets-container .row-left .planet-container,
            .minimap .map-planets .map-planets-container .row-right .planet-container {
              width: 25%;
              margin: 0 1%; } }
          .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations,
          .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations {
            text-align: center;
            width: 100%;
            height: 100px;
            overflow: hidden;
            margin-bottom: 10px; }
            .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations .planet-title,
            .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations .planet-title {
              color: #198993;
              font-size: 25px;
              font-weight: bold; }
              @media screen and (max-width: 768px) {
                .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations .planet-title,
                .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations .planet-title {
                  font-size: 14px; } }
            .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations .planet-description,
            .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations .planet-description {
              color: #505d9f;
              font-size: 15px; }
              @media screen and (max-width: 768px) {
                .minimap .map-planets .map-planets-container .row-left .planet-container .planet-informations .planet-description,
                .minimap .map-planets .map-planets-container .row-right .planet-container .planet-informations .planet-description {
                  font-size: 10px; } }
          .minimap .map-planets .map-planets-container .row-left .planet-container .map-planet image:hover,
          .minimap .map-planets .map-planets-container .row-right .planet-container .map-planet image:hover {
            cursor: pointer;
            transition: all .2s ease-in-out; }

.fade-layer {
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0;
  z-index: 11;
  position: fixed;
  pointer-events: none;
  top: 0; }

body {
  color: white;
  background: url("../img/interface/interface-fond.png") no-repeat fixed, url("../img/elements-espace/fond-etoile-desktop.png") no-repeat fixed;
  background-size: cover;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    body {
      background: url("../img/elements-espace/fond-etoile-mobile.png") no-repeat fixed;
      background-size: cover; } }

.cover {
  background: url("../img/effets.png") no-repeat fixed;
  z-index: 19;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  /* patch chrome */
  background-size: cover; }

.background-sun {
  background: url("../img/elements-espace/soleil-1_8mo.png") center 0 no-repeat fixed;
  position: fixed;
  width: 100%;
  height: 100vh; }

section {
  width: 100%;
  height: 100vh;
  position: relative;
  /* patch chrome */ }
  @media screen and (max-width: 768px) {
    section {
      overflow: hidden; } }
  section.home div {
    position: relative;
    top: 35%;
    padding-left: 5%;
    padding-right: 5%; }
  section.home h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 90px; }
    @media screen and (max-width: 768px) {
      section.home h1 {
        font-size: 50px; } }
    @media screen and (min-width: 768px) and (max-width: 1450px) {
      section.home h1 {
        font-size: 80px; } }
  section.home h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px; }
    @media screen and (max-width: 768px) {
      section.home h2 {
        font-size: 25px; } }
    @media screen and (min-width: 768px) and (max-width: 1450px) {
      section.home h2 {
        font-size: 40px; } }

.sections_container {
  overflow-x: hidden; }

section {
  position: relative; }
  section .planet {
    position: absolute;
    z-index: 3;
    margin: auto; }
    section .planet .main img {
      width: 100%;
      position: relative;
      z-index: 4;
      transition: all .2s ease-in-out; }
    section .planet .main.clickable {
      cursor: pointer; }
      section .planet .main.clickable:hover img {
        transform: scale(1.1); }
    section .planet.planet-intro {
      bottom: 15%;
      width: 1400px;
      left: -36%;
      right: 0;
      margin: auto; }
      section .planet.planet-intro .shadow img {
        position: absolute;
        left: 0%;
        width: 100%;
        top: -53%;
        z-index: 3; }
    section .planet.planet-1-1 {
      position: absolute;
      z-index: 3;
      left: -41%;
      right: 0;
      bottom: 12%;
      width: 760px; }
    section .planet.planet-2_1-1 {
      left: -55%;
      right: 0;
      bottom: 31%;
      width: 625px; }
    section .planet.planet-2_1-2 {
      left: 0;
      right: -38%;
      bottom: 7%;
      width: 550px; }
    section .planet.planet-2_2-1 {
      left: -54%;
      right: 0;
      bottom: 12%;
      width: 560px; }
    section .planet.planet-2_2-2 {
      right: -40%;
      bottom: 42%;
      width: 430px;
      left: 0; }
    section .planet.planet-3-1 {
      right: 68%;
      bottom: 47%;
      width: 430px;
      left: 0; }
    section .planet.planet-3-2 {
      right: 14%;
      margin: auto;
      bottom: 17%;
      width: 500px;
      left: 0; }
    section .planet.planet-3-3 {
      right: -48%;
      bottom: 35%;
      width: 300px;
      left: 0; }
    section .planet.blackhole {
      right: 47%;
      bottom: 13%;
      width: 720px;
      left: 0; }
    section .planet.satellite {
      right: -31%;
      bottom: 22%;
      width: 300px;
      left: 0; }
    section .planet .shadow img {
      position: absolute;
      left: -50%;
      width: 200%;
      top: -50%;
      z-index: 3;
      pointer-events: none; }
  section .space-element {
    position: absolute; }
    section .space-element.asteroid {
      left: 47%;
      right: 0;
      width: 400px; }
    section .space-element.asteroid-2 {
      left: 4%;
      right: 0;
      width: 250px;
      bottom: 55%; }
    section .space-element.asteroid-3 {
      right: 0;
      bottom: 55%;
      width: 230px;
      left: 75%; }
    section .space-element.asteroid-chain {
      left: 0;
      right: 0;
      width: 92%;
      bottom: 12%; }
      @media screen and (max-width: 768px) {
        section .space-element.asteroid-chain {
          width: 200%; } }
    section .space-element .rellax {
      width: 100%; }
