.commandes{
  height: 0;
  img {
    position: fixed;
    bottom: 0;
  }
  .bottom{
    img{
      object-fit: cover;
      width: 100%;
      height: 147px;
      z-index: 20;
      cursor:pointer;
    }
    .bottom-area{
      display: none;
      width: 100px;
      height: 100px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 22;
      cursor: pointer;
    }
  }

  .launch img,
  .minimap-btn img{
    z-index: 20;
    position: fixed;
    display: block;
    top: 0;
    top: 15%;
    right: -340px;//-40px;
    width: 270px;
    transition: all .2s ease-in-out;
    &:hover{
      cursor:pointer;
      transform: scale(1.1);
    }
  }
  .minimap-btn img{
    right: -40px;
  }

  .planet_desc{
    pointer-events:none;

    img{
      z-index: 20;
      top: -420px; //-220px
      width: 100%;
      height: 50%;
    }
    .description-container{
      top: -250px;//35px
      position: fixed;
      width: 100%;
      z-index: 20;
      .description-sub-container{
        position: relative;
        max-width: 60%;
        margin: auto;
        span{
          z-index: 20;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: bold;
          font-size: 18px;
          width: 100%;
          text-align: left;
        }
        .title{
          font-weight:bold;
          color:white;
        }
        .tags{
          color:#4ed59a;
        }
        .description{
          font-size: 18px;
          color:white;
        }
      }
    }
  }
  .mobile{
    i{
      display: none;
    }
    .mobile_tab{
      z-index: 21;
      display:none;
    }
  }

  .left{
    img{
      z-index: 21;
    }
    .btn{
      img{
        transition: all .2s ease-in-out;
      }
      .commande img {
        bottom: -190px;
        right: 55%;
      }
      .text img{
        bottom: 20px;
        width: auto;
        right: calc(60% - -90px);
      }
    }
    .tab {
      img {
        left: -40%;
        width: 45%;
        height: 100%;
      }
      .text{
        position: fixed;
        z-index: 22;
        left:-36%; //left:70px;
        top:50px;
        bottom:50px;
        max-width: 33%;
        overflow:auto; //scroll;
        scrollbar-width:thin;
        direction:rtl;
        padding-left:10px;
        &.text-mobile{
          text-align: left;
          left : 0;
          right : 0;
          padding : 5%;
          max-width : unset;
        }
        .category{
          font-size: 25px;
          font-weight: Bold;
          margin-top:10px;
          margin-bottom:10px;
          display: block;
        }
        .experience{
          margin-bottom: 10px;
          .title{
            font-size: 17px;
            font-weight: Bold;
          }
          .content{
            font-size: 17px;
          }
        }
      }
    }
  }
  .right {
    img {
      z-index: 21;
    }
    .btn{
      img{
        transition: all .2s ease-in-out;
      }
      .commande img {
        bottom: -190px;
        left: 55%;
      }
      .text img{
        bottom: 20px;
        width: auto;
        left: calc(60% - -90px);
      }
    }
    .tab{
      img{
        right: -40%;
        width: 45%;
        height: 100%;
      }
      .text{
        position: fixed;
        z-index: 22;
        right:-36%; //left:70px;
        top:50px;
        bottom:50px;
        max-width: 33%;
        overflow:auto; //scroll;
        scrollbar-width:thin;
        padding-right:10px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &.text-mobile{
          text-align: center;
          left : 0;
          right : 0!important;
          padding : 5%;
          max-width : unset;
        }
        //text-align: right;
        .form-title{
          font-size: 25px;
          font-weight: Bold;
          margin-top:10px;
          margin-bottom:10px;
          display: block;
        }
        .experience{
          margin-bottom: 10px;
          .title{
            font-size: 17px;
            font-weight: Bold;
          }
          .content{
            font-size: 17px;
          }
        }
        .form{
          margin-bottom:100px;
          form{
            color:"#DBDBDB";
            .inp-contact{
              height: 50px;
              border-radius: 9px;
              margin-bottom: 15px;
            }
            .textarea-contact{
              margin-bottom: 15px;
            }
            .btn-contact-container{
              display:flex;
              justify-content: end;
            }
            .btn-contact{
              color:#84B0BF;
              border-radius: 9px;
              background-color: white;
              width: 155px;
              height: 50px;
              font-family: "Source Sans Pro", sans-serif;
              font-weight: bold

              // font-family: Source Sans Pro;
            }
          }
        }

        .description{
          .content{
            font-size: 18px;
            margin-bottom:20px;
          }
          .coordinates{
            font-family: "Source Sans Pro", sans-serif;
            font-weight: bold;
            font-size: 25px;
          }
        }
      }
    }
  }
}

.minimap{
  .minimap-exit-btn img{
    left: -40px;
    bottom: 5%;
    width: 160px;
    height: unset;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
    &:hover{
      cursor:pointer;
      transform: scale(1.1);
    }
  }
}
