
@media screen and (max-width: 768px) { //576

  .commandes{
    .bottom{
      img{
        height: 90px;
      }
      .bottom-area{
        display: block;
      }
    }


    .launch img{
      width:130px;
      right:-325px;
      top: 10%;
    }
    .minimap-btn img{
      width:130px;
      top: 10%;
      right: -20px;
    }

    .planet_desc{
      .description-container{
        .description-sub-container{
          .title{
            display: none;
          }
          .description{
            display: none;
          }
        }
      }
    }


    .left{
      .btn{
        .commande img {
          width:540px;
          bottom:-113px;
          right:50%
        }
        .text img{
          height: 22px;
          right: calc(60% - -45px);
        }
      }
      .tab{
        .text{
          .category{
            font-size:23px;
          }
          .experience {
            .title {
              font-size: 15px;
            }
            .content {
              font-size: 15px;
            }
          }
        }
      }
    }
    .right {
      .btn{
        .commande img {
            width:540px;
            bottom:-113px;
            left:50%;
        }
        .text img{
          height: 22px;
          left: calc(60% - -45px);
        }
      }
      .tab{
        .text{
          .description{
            .coordinates{
              font-size: 16px;
            }
          }
          .form{
            //margin-bottom: 70px;
          }
        }
      }
    }
    .tab img{
      display:none;
    }

    .mobile{
      .mobile_tab{
        display:none;
      }
      i{
        position: fixed;
        right: 0;
        top: 0;
        margin: 5%;
        z-index: 22;
        cursor: pointer;
        display: none;
      }
    }
  }
  .minimap{
    .minimap-exit-btn img{
      left: -30px;
      bottom: -20px;
      width:100px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1450px) { //min-width : 576
  .commandes{
    .bottom img{
      height: 110px;
    }
    .launch img,
    .minimap-btn img{
      width: 230px;
    }

    .mobile{
      .mobile_tab{
        display:none;
      }
      i{
        display: none!important
      ;
      }
    }

    .planet_desc{
      .description-container{
        .description-sub-container{
          .title{
            font-size: 22px;
          }
          .tags{
            font-size: 15px;
          }
          .description{
            font-size: 15px;
          }
        }
      }
    }


    .left{
      .btn{
        .commande img {
          bottom: -220px;
        }
        .text img{
          height:40px;
        }
      }
      .tab{
       .text{
         .category{
           font-size: 23px;
           .experience{
             .title{
               font-size: 15px;
             }
             .content{
               font-size: 15px;
             }
           }
         }
       }
      }
    }
    .right {
      .btn{
        .commande img {
          bottom: -220px;
        }
        .text img{
          height:40px;
        }
      }
    }
  }
}
