.test{
  background-color:red;
}
.sun_pin{
  //background-color: red;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  right: -779px;
  left: 500px;

  margin-top:936px;
  z-index: 5000;
  position: absolute;
  width: 120px;
  height:120px;
}

.minimap{
  display: none;
  z-index: 30;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:white;
  //background: url("../img/map/fond-fondu.png") center 0 no-repeat fixed;
  background: url("../img/map/fond-fondu.png") no-repeat fixed;
  background-size: cover;

  img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
  }
  .map-planets{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .map-planets-container{
      z-index: 31;
      align-items: center;
      margin: 5% 15%;
      @media screen and (max-width: 768px) { margin: 5% 5%; }

      .row-right{
        justify-content: flex-end;
        .planet-container{
          .planet-informations{
            top: 220px;
          }
        }
      }
      .row-left{
        .planet-container{
          .planet-informations{
            top: -100px;
          }
        }
      }
      .row-left,
      .row-right {
        display: flex;
        .planet-container{
          position: relative;
          width: 20%;
          margin: 0 1.25%;
          @media screen and (max-width: 768px) { width: 25%; margin:0 1%; }

          .planet-informations{
            text-align: center;
            width: 100%;
            height: 100px;
            overflow: hidden;
            margin-bottom:10px;
            .planet-title{
              color: #198993;
              font-size: 25px;
              font-weight: bold;
              @media screen and (max-width: 768px) { font-size: 14px; }
            }
            .planet-description{
              color: #505d9f;
              font-size: 15px;
              @media screen and (max-width: 768px) { font-size: 10px; }
            }
          }
          .map-planet {
            image{
              &:hover{
                cursor:pointer;
                //transform: scale(1.1);
                transition: all .2s ease-in-out;

              }
            }
          }
        }

      }
    }
  }
}

.fade-layer{
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: 11;
  position: fixed;
  pointer-events:none;
  top: 0;
}


body{
  color:white;
  background : url("../img/interface/interface-fond.png") no-repeat fixed,
  url("../img/elements-espace/fond-etoile-desktop.png") no-repeat fixed;
  background-size: cover;
  z-index: 1;
  @media screen and (max-width: 768px) {
    background : url("../img/elements-espace/fond-etoile-mobile.png") no-repeat fixed;
    background-size: cover;
  }

}
.cover{
  background: url("../img/effets.png") no-repeat fixed ;
  z-index: 19;
  pointer-events:none;
  position: fixed;
  width: 100%;
  height: 100%; /* patch chrome */
  background-size: cover;
}

.background-sun{
  background: url("../img/elements-espace/soleil-1_8mo.png") center 0 no-repeat fixed;
  position:fixed;
  width: 100%;
  height: 100vh;
}

section{
  width:100%;
  height: 100vh;
  position: relative;
  @media screen and (max-width: 768px) { overflow: hidden; } /* patch chrome */

  &.home{
    div{
      position: relative;
      top:35%;
      padding-left:5%;
      padding-right:5%;
    }
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      font-size: 90px;
      @media screen and (max-width: 768px) {
        font-size: 50px;
      }
      @media screen and (min-width: 768px) and (max-width: 1450px) {
        font-size: 80px;
      }
    }
    h2{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 50px;
      @media screen and (max-width: 768px) { font-size: 25px; }
      @media screen and (min-width: 768px) and (max-width: 1450px) {
        font-size: 40px;
      }
    }
  }
}

.sections_container{
  overflow-x: hidden;
}
section{
  position:relative;

  .planet{
    position: absolute;
    z-index: 3;
    margin: auto;
    & .main
    {
      img{
        width: 100%;
        position: relative;
        z-index: 4;
        transition: all .2s ease-in-out;
      }

      &.clickable{
        cursor:pointer;
        &:hover img{
          transform: scale(1.1);
        }
      }
    }

    &.planet-intro{
      bottom: 15%;
      width: 1400px;
      left: -36%;
      right: 0;
      margin: auto;
      & .shadow img{
        position: absolute;
        left: 0%;
        width: 100%;
        top: -53%;
        z-index: 3;
      }
    }
    &.planet-1-1{
      position: absolute;
      z-index: 3;
      left: -41%;
      right: 0;
      bottom: 12%;
      width: 760px;

    }
    &.planet-2_1-1{
      left: -55%;
      right: 0;
      bottom: 31%;
      width: 625px;
    }
     &.planet-2_1-2{
      left: 0;
      right: -38%;
      bottom: 7%;
      width: 550px;
    }
    &.planet-2_2-1{
      left: -54%;
      right: 0;
      bottom: 12%;
      width: 560px;
    }
    &.planet-2_2-2{
      right: -40%;
      bottom: 42%;
      width: 430px;
      left: 0;
    }
    &.planet-3-1{
      right: 68%;
      bottom: 47%;
      width: 430px;
      left: 0;
    }
    &.planet-3-2{
      right: 14%;
      margin: auto;
      bottom: 17%;
      width: 500px;
      left: 0;
    }
    &.planet-3-3{
      right: -48%;
      bottom: 35%;
      width: 300px;
      left: 0;
    }
    &.blackhole{
      right: 47%;
      bottom: 13%;
      width: 720px;
      left: 0;
    }
    &.satellite{
      right: -31%;
      bottom: 22%;
      width: 300px;
      left: 0;
    }
    .shadow{
      img{
        position: absolute;
        left: -50%;
        width: 200%;
        top: -50%;
        z-index: 3;
        pointer-events: none;
      }
    }
  }
  .space-element{
    position: absolute;

    &.asteroid{
      left: 47%;
      right: 0;
      width:400px;
    }
    &.asteroid-2{
      left: 4%;
      right: 0;
      width: 250px;
      bottom: 55%;
    }
    &.asteroid-3{
      right: 0;
      bottom: 55%;
      width: 230px;
      left: 75%;
    }
    &.asteroid-chain{
      left: 0;
      right: 0;
      width: 92%;
      bottom: 12%;
      @media screen and (max-width: 768px){width: 200%;}
    }
    .rellax{
      width:  100%;
    }
  }

}

